<h6>Permissible grounds for exemption from submission fee</h6>

<ol>
	<li>Student at a recognised further or higher education institution.</li>
	<li>Unwaged.</li>
	<li>Member of a department which has paid a submission waiver. Contact <a href="mailto:ergo.editors@gmail.com">ergo.editors@gmail.com</a> for further details.</li>
</ol>
