<h1>Submissions in Review</h1>
<br />

<%= render 'submissions_table' %>

<br />

<div style="text-align: center; margin: 0px 0px 10px 0px;">
  <p>We are not currently accepting new submissions, owing to the COVID-19 situation.</p>
  <p>Resubmissions after decisions of Major or Minor Revisions may still be made.</p>
<!--	<%= link_to "Submit a paper", new_author_center_path, class: "btn btn-primary" %>-->
</div>

<div class="center" style="text-align: center">
	<%= link_to "Past submissions", archives_author_center_index_path %>
</div>